<style>
    body {
        background-image: url("/img/theOne.jpg") !important;
    }

    .backg1 {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    .navi {
        margin-bottom: 30px;
    }

    .eH {
        color: #21bf73 !important;
    }

    .eM {
        color: white !important;
    }
    .middleM{
        margin: auto !important;
    }
</style>
<nav class="nav navStyle justify-content-center navi">
    <div class="text-center">
        <a class="nav-link active text-center deal" href="/">Passive Deal</a>
    </div>
</nav>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 middleM">
            <div class="card h-100 backg1 errorLand text-center">
                <div class="card-body">
                    <div>
                        <h5 class="card-title eH"><b>Opps 🤔🤔🤔!</b></h5>
                    </div>
                    <div class="">
                        <p class="eM">{{message}}</p>
                        <form action="/" method="GET" class="buttonCenter">
                            <button type="submit" class="btn btn-warning"><b>Your Next Deal!</b></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <i class="f-icon fab fa-twitter"></i>
    <i class="f-icon fab fa-facebook"></i>
    <i class="f-icon fab fa-instagram"></i>
    <i class="f-icon fas fa-envelope"></i>
    <p class="footer-p">© Copyright 2020 JAAM Inc</p>
</footer>