<div class="container">
    <h1 class="text-center heading titl1">Passive Deal</h1>
    <div class="row row-cols-1 row-cols-md-3 bCont">
        <div class="col mb-4 ">
            <div class="card h-100 backg1">
                <div class="card-body text-center">
                    <div>
                        <h5 class="card-title dBurg"><b>Opps 🤔🤔🤔!</b></h5>
                    </div>
                    <div class="">
                        <p>{{message}}</p>
                        <form action="" method="" class="toBeDevList text-left">{{this.burger_name}}
                            <button type="submit" class="btn btn-outline-success pull-right devourBur"
                                data-id="{{this.id}}" data-isDevoured="{{this.devoured}}">Check Other Deals!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <i class="f-icon fab fa-twitter"></i>
    <i class="f-icon fab fa-facebook"></i>
    <i class="f-icon fab fa-instagram"></i>
    <i class="f-icon fas fa-envelope"></i>
    <p class="footer-p">© Copyright 2020 JAAM Inc</p>
</footer>