<div class="container text-center">
    <div class="card h-100 backg1 text-center yannal">
        <img src="/img/phones.jpg" class="card-img-top meanBur" alt="Burger image">
        <div class="card-body text-center">
            <div>
                <h6 class="card-title titl">Please Pick Your Product!</h6>
            </div>
            <div class="input-group-append">
                
                <button class="btn btn-outline-warning addBur" type="button" id="addNewBur">Add a Product!</button>
            </div>
        </div>
    </div>

</div>