<div class="container text-center">
    <div class="card h-100 backg1 text-center yannal">
        <img src="/img/phones.jpg" class="card-img-top meanBur" alt="Burger image">
        <div class="card-body text-center">
            <div>
                <h6 class="card-title titl">Please Pick Your Product!</h6>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    iPhones
                </button>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" tabindex="-1" href="#">Hover me for more options</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">Even More..</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">3rd level</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item"><a href="#">4th level</a></li>
                                            <li class="dropdown-item"><a href="#">4th level</a></li>
                                            <li class="dropdown-item"><a href="#">4th level</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item"><a href="#">3rd level</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item"><a href="#">Second level</a></li>
                            <li class="dropdown-item"><a href="#">Second level</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

</div>