<nav class="nav navStyle justify-content-center navi">
    <div class="text-center">
        <a class="nav-link active text-center deal" href="/"><em><b>Passive Deal</b></em></a>
    </div>
    {{!-- <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a> --}}
</nav>
<div class="container text-center">
    <div class="spinnerWrap final hide">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="card h-100 backg1 text-center final">
        <img src="/img/phones.jpg" class="card-img-top meanBur" alt="phones image">
        <div class="card-body text-center">
            <div>
                <h6 class="card-title titl">Pick Your iPhone!</h6>
            </div>
            <div class="btn-group">
                <button class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><b>iPhones</b></button>
                <ul class="dropdown-menu">
                    {{#each list}}
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" tabindex="-1" href="#">{{model}}</a>
                        <ul class="dropdown-menu" data-id={{id}}>
                            {{#each capacity}}
                            <li><a class="dropdown-item capacitySelect" tabindex="-1" href="#">{{.}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <i class="f-icon fab fa-twitter"></i>
    <i class="f-icon fab fa-facebook"></i>
    <i class="f-icon fab fa-instagram"></i>
    <i class="f-icon fas fa-envelope"></i>
    <p class="footer-p">© Copyright 2020 JAAM Inc</p>
</footer>