<div class="container">
    <h1 class="text-center heading titl1">Passive Deal</h1>
    <div class="row row-cols-1 row-cols-md-3 bCont">
        <div class="col mb-4 ">
            <div class="card h-100 backg1">
                <div class="card-body text-center">
                    <div>
                        <h5 class="card-title dBurg"><b>Aamazon!</b></h5>
                    </div>
                    <div class="">


                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4 ">
            <div class="card h-100 backg1">
                <div class="card-body text-center">
                    <div>
                        <h5 class="card-title dBurg"><b>Result!</b></h5>
                    </div>
                    <div class="">


                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4 ">
            <div class="card h-100 backg1">
                <div class="card-body text-center">
                    <div>
                        <h5 class="card-title dBurg"><b>Ebay!</b></h5>
                    </div>
                    <div class="">


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>