* {
  box-sizing: border-box !important;
}

body {
  background-image: url("/img/210906.jpg");
  /* filter: brightness(0) !important; */
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  ;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: auto !important;
}

.navStyle {
  background-color: rgba(94, 42, 42, 0) !important;
  color: white !important;
  margin-top: 20px !important;
  padding: 0 !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navi {
  border-radius: 30px !important;
}

.deal {
  color:#ffc107;
  font-size: 2rem !important;
  font-weight: bold !important;
}

.hide{
  display: none !important;
}
/* .wrappi{
    width: 100%;
    margin: 0;
    font-family: Arial;
    font-size: 84px;
} */

.heading {
  padding: 30px !important;
  font-family: 'Architects Daughter', cursive !important;
}

.titl {
  color:#21bf73  !important;
}

/* .titl1 {
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  background: url("/img/flames.jpg") repeat-x;
  -webkit-background-clip: text !important;
  background-clip: text;
  background-size: contain;
  animation:fire 1s linear infinite;
} */

/* .titl {
  font-weight: 900 !important;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  background: url("/img/flames.jpg") repeat-x;
  -webkit-background-clip: text !important;
  background-clip: text;
  background-size: contain;
  animation: fire 0.6s linear infinite;
} */

/* @keyframes fire {
  50% {
    background-position: left 10px top 5px;
  }
  100% {
    background-position: left -10px top 0px;
  }
} */


.backg1 {
  background-color: rgba(0, 0, 0, 0.3) !important;
  /* color:#f2d974 !important; */
  /* font-weight: bold !important; */
  border-radius: 30px;
}

 .meanBur {
  border-radius: 50px !important;
  width: 100px !important;
  margin: auto !important;
  padding-top: 10px !important;
} 
.dDeal {
  color: #21bf73 !important;
}


/* The drop  */
.dropdown-submenu {
  position: relative;
  background-color: rgb(240, 173, 78) !important;
}

.dropdown-submenu>a.dropdown-item:after {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  content: "\f054";
  float: right;
}

.dropdown-submenu>a.dropdown-item:after {
  content: ">";
  float: right;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
  background-color: rgb(240, 173, 78) !important;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* footer styling */

#footer {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  /* background-color: rgba(255,255, 0, 0.9) !important; */
  text-align: center;
  padding: 30px;
  color: white !important;
  font-weight: bolder !important;
}
.footer-p{
  padding: 10px !important;
}

/* Error landing page styling */
.errorLand{
  margin-top: 10% !important;
}

.final{
  margin-top: 10% !important;
  width: 300px !important;
  margin: auto auto;
  border-radius: 40px !important;

}