* {
  box-sizing: border-box !important;
}

body {
  background-image: url("/img/pg5.jpg");
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  ;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: auto !important;
}

.navStyle {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  margin: 10px !important;
  padding: 0 !important;
}

.navi {
  border-radius: 30px !important;
}

.deal {
  color: #aeefec !important;
  font-size: 2rem !important;
  font-weight: bold !important;
}

/* .wrappi{
    width: 100%;
    margin: 0;
    font-family: Arial;
    font-size: 84px;
} */

.heading {
  padding: 30px !important;
  font-family: 'Architects Daughter', cursive !important;
}

/* .titl1 {
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  background: url("/img/flames.jpg") repeat-x;
  -webkit-background-clip: text !important;
  background-clip: text;
  background-size: contain;
  animation:fire 1s linear infinite;
} */

.yannal {
  margin-top: 20% !important;
}

.titl {
  font-weight: 900 !important;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  background: url("/img/flames.jpg") repeat-x;
  -webkit-background-clip: text !important;
  background-clip: text;
  background-size: contain;
  animation: fire 0.6s linear infinite;
}

@keyframes fire {
  /* 0%{
        background-position: left 0 top 20px;
    } */
  50% {
    background-position: left 10px top 5px;
  }
  100% {
    background-position: left -10px top 0px;
  }
}

.bCont {
  margin-top: 150px !important;
}

.backg1 {
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: white !important;
  border-radius: 30px;
}

/* .backg2 {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
} */

.meanBur {
  border-radius: 50px !important;
  width: 100px !important;
  margin: auto !important;
  padding-top: 10px !important;
}

.addBur {
  margin: 100px !important;
}

.toBeDevList {
  padding: 10px;
}

.dBurg {
  color: #21bf73 !important;
}

.fireBur {
  color: #ec524b !important;
}

/* The drop  */


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a.dropdown-item:after {
  font-family: FontAwesome;
  content: "\f054";
  float: right;
}

.dropdown-submenu>a.dropdown-item:after {
  content: ">";
  float: right;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* footer styling */

#footer {
  text-align: center;
  padding: 30px;
  color: #222831;
  font-weight: bolder !important;
}